# Go
*.exe *.exe~ *.dll *.so *.dylib *.test *.out
/bin/ /dist/ go.work
# Rust
/target/
# OS / Editor
.DS_Store *~ .vscode/ *.code-workspace
# Security / runtime
keys/*.key keys/*.crt keys/*.pem *.log *.pcap *.pid

minivpn